@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --light-green: #65A30D;
    --dark-green: #064E3B;
    --lighter-green: #E2EBE7;
    --grey-green: #5E6562;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", 'Trebuchet MS';
}

img{
    pointer-events: none;
}

.warning{
    color:red;
    font-weight: bold;
    margin-top:0;
}


/*HEADER CSS*/


.header{
    width:98%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #ECFDF5;
    padding-left:1%;
    padding-right:1%;
    position:sticky;
    top:0;
    z-index:999;
}

#header-link{
    cursor:pointer;
    color:black;
    text-decoration: none;
}

.navbar{
    display:flex;
    align-items: center;
    gap:20px;
}

.navbar a{
    text-decoration:none;
    text-align:center;
    color: var(--dark-green);
}

.navbar a:hover{
    color:var(--light-green);
    transition: 0.5s;
}

#nav-unique{
    padding:10px 20px;
    background:var(--dark-green);
    color:white;
    border-radius:5px;
}

#nav-unique:hover{
    transition:0.7s;
    background: var(--light-green);
}

.web-logo{
    width:80px;
    height:80px;
}

.website-logo{
    display:flex;
    align-items: center;
    justify-content: center;
}


/*FOOTER CSS*/


.footer{
    height:100px;
    width:100%;
    background:var(--lighter-green);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.footer p{
    color:var(--dark-green);
}