

.container {
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;
    padding: 15px;
    background-color: #E2EBE7;
    border: 1px solid #65A30D;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.container-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.container-link i {
    font-size: 18px;
    color: #333;
}

.container:hover {
    background-color: #d8e3df; /* Slightly darker color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.container:active {
    background-color: #c5d0cc; /* Darker color when clicked */
}
.center {
    margin-top: 5%;
    margin-bottom: 5%;
}
button {
    margin-top: 2%;
    margin-bottom: 3%;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #65A30D;
    background-color: #064E3B;
    color: white;
}
button:hover {
    background-color: #08634b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button:active {
    background-color: rgb(6, 69, 52);
}