/*DEFAULTS*/


@import url('style_general.css');

.container{
    height:500px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.text-title{
    font-size: 50px;
    color:var(--dark-green);
    text-align:left;
    margin-bottom:0;
}

.text-sub{
    font-weight: bold;
    font-size: 20px;
    color:var(--dark-green);
    margin-top:0;
    text-align:left;
}


/*HERO CONTENT CSS*/


.hero-container{
    width:100%;
    height:550px;
    background-image: url("../img/home/hero.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position:relative;
    z-index:0;
}

.hero-container::before{
    content:'';
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    background:black;
    opacity:0.7;
    position:absolute;
}

.hero-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:2;
}

#hero-title{
    color:var(--light-green);
    font-size: 50px;
}

#hero-sub{
    font-weight: bold;
    font-size: 24px;
    color:var(--light-green);
    margin-top:0;
}

.hero-img{
    width:500px;
    height:500px;
    z-index:2;
}

.hero-img img{
    width:100%;
    height:100%;
}


/*SERVICES CONTAINER CSS*/


.services-items{
    display:flex;
    align-items: center;
    justify-self: center;
    gap:20px;
}

.services-item{
    border:1px solid grey;
    border-radius:5px;
}

.services-item:hover{
    cursor:pointer;
    transition:0.5s;
}

.serv-item-header{
    width:240px;
    height:240px;
    background:var(--lighter-green);
    position:relative;
}

.serv-item-header.one::before{
    content:'Starting from 1,800php';
}

.serv-item-header.two::before{
    content:'Contact us for more details';
}

.serv-item-header::before{
    top:0;
    left:0;
    width:200px;
    height:24px;
    font-weight: bold;
    background:grey;
    position:absolute;
}

.serv-item-header.one{
    background-image: url("../img/home/serv-vaccination.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.serv-item-header.two{
    background-image: url("../img/home/serv-surgery.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.serv-title{
    margin-bottom:0;
}

.serv-desc{
    font-weight: bold;
    font-size: 20px;
    color:var(--dark-green);
    margin-top:0;
}


/*PET ARTICLE CONTAINER CSS*/


.container.sec{
    background:var(--lighter-green);
}

.article-items{
    height:400px;
    width:520px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:20px;
}

.arc-item{
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    gap:20px;
    transition:0.7s;
}

.arc-item:hover{
    cursor:pointer;
    height: 150px;
    width: 520px;
}

.arc-image{
    width:100px;
    height:100px;
}

.arc-image.one{
    background-image: url("../img/home/art-one.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arc-image.two{
    background-image: url("../img/home/art-two.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arc-title{
    font-weight: bold;
}

.arc-desc{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.arc-descr{
    width:380px;
}


/*TEAM CSS*/


.doc-image{
    width:100px;
    height:100px;
}

.doctor-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.doctor-item{
    width:240px;
    height:290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doc-image.one{
    background-image: url("../img/home/doc-one.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.doc-image.two{
    background-image: url("../img/home/doc-two.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.doc-text{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.doc-name{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vet-name{
    font-weight: bold;
    margin-bottom:0;
    font-size: 20px;
}

.vet-title{
    margin-top:0;
    font-size: 16px;
    color:grey;
}

.doc-desc{
    font-weight: bold;
    color:var(--dark-green);
    font-size: 26px;
    text-align:center;
    margin-top:5px;
}


/*APPOINTMENT CSS*/


.container.appointment{
    height:530px;
    background:var(--lighter-green);
}

.appointment-image{
    width:500px;
    height:380px;
    background:var(--lighter-green);
    background-image: url("../img/home/appointment-image.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}