/*DEFAULTS*/


@import url('style_general.css');

.container{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/login/dog-login-2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}

.text-title{
    font-size: 36px;
    color:var(--dark-green);
    text-align:left;
    margin-bottom:0;
    margin-top:0;
}

.text-sub{
    font-weight: bold;
    font-size: 18px;
    color:var(--dark-green);
    margin-top:0;
    text-align:center;
    margin-bottom:0;
    margin-top:0;
}


/*Login UI*/


.container::before{
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    opacity:0.5;
    z-index:1;
    position:absolute;
}


.floating {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--lighter-green);
    padding: 10px;
    border: 3px solid var(--light-green);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index:2;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
}

label{
    color:var(--dark-green);
    font-weight: bold;
    text-align:left;
}

.login-label{
    width:100%;
}

.password-container{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
}

.input-text{
    padding:10px;
    width:100%;
    border: 1px solid var(--light-green);
    color:var(--dark-green);
    font-weight: bold;
}

.txtPassword{
    width:90%;
}

.line {
    width: 90%;
    background-color: var(--light-green);
    height: 1px;
}

.btnLogin, .btnRegister{
    background-color: var(--dark-green);
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor:pointer;
    font-weight: bold;
}

.btnLogin:hover, .btnRegister:hover{
    background-color: var(--light-green);
    transition:0.7s;
}

.btnShow{
    background:none;
    border:none;
    font-weight: bold;
    color:var(--light-green);
    cursor:pointer;
    padding-bottom:20px;
    width:10%;
}

.btnShow.login{
    padding-bottom:0;
}

.input-text:focus {
    outline: 2px solid var(--dark-green);
}


/*Register UI*/


span{
    display:flex;
    align-items: center;
}

span .warning{
    margin:0;
}

.container.register{
    background-image: url("../img/login/dog-register.jpg");
    flex-direction: column;
}

.information-screen{
    top: -300px;
    position:absolute;
    width:500px;
    height:250px;
    background:var(--lighter-green);
    border-radius:5px;
    border:5px solid var(--dark-green);
    animation: slideDown 1s forwards;
    z-index:4;
}

.information-header{
    display:flex;
    align-items:center;
    width:100%;
    height:30px;
    background:var(--light-green);
    gap:10px;
}

.information-desc, .information-header{
    font-weight: bold;
    text-align:center;
    width:100%;
}

@keyframes slideDown {
    0% {
        top: -300px;
    }
    100% {
        top: 20px;
    }
}

.black-background{
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
    background:black;
    opacity:0.5;
    position:absolute;
}

.title-field{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container.register .floating{
    height:95%;
    width:50%;
}

#form-register{
    width:90%; 
    gap:15px;
}

.name-container, .name-item, .contact-container, .contact-item, .password-container-register, .password-item, .pass-sub{
    display:flex;
}

.name-container, .contact-container, .password-container-register{
    width:100%;
    align-items:flex-start;
    justify-content:space-between;
}

.name-item, .contact-item, .contact-container, .password-container-register, .pass-sub, .password-container-register{
    flex-direction: column;
}

.contact-item, .password-item, .pass-sub{
    width:100%;
}

.password-item{
    align-items: center;
}

.password-item .btnShow{
    padding-bottom:0;
}

.pass-sub .txtPassword{
    width:100%;
}

.name-item .mi{
    width:25%;
}

#txtMiddleInitial{
    width:25%;
}

.contact-container{
    justify-content: space-between;
    gap:15px;
}

#clear{
    background:var(--red);
    transition:0.7s;
}

#clear:hover{
    background:var(--light-red);
}