@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --light-green: #65A30D;
    --dark-green: #064E3B;
    --lighter-green: #E2EBE7;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", 'Trebuchet MS';
}

img{
    pointer-events: none;
}

.header{
    width:98%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #ECFDF5;
    padding-left:1%;
    padding-right:1%;
}

.navbar{
    display:flex;
    align-items: center;
    gap:20px;
}

.navbar a{
    text-decoration:none;
    text-align:center;
    color: var(--dark-green);
}

.navbar a:hover{
    color:var(--light-green);
    transition: 0.5s;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 1px; /* Adjusted padding to reduce height */
    display: flex;
    width: 300px; /* Adjusted width to fit the reduced height */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 1px; /* Keep some space at the top */
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#get-support{
    color:white;
    background:var(--light-green);
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius:10px;
}

#get-support:hover{
    color:var(--light-green);
    background:white;
}

.web-logo{
    width:80px;
    height:80px;
}

.website-logo{
    display:flex;
    align-items: center;
    justify-content: center;
}