@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --light-green: #65A30D;
    --dark-green: #064E3B;
    --lighter-green: #E2EBE7;
    --grey-green: #5E6562;
    --red: #B92424;
    --light-red: #CF766A;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", 'Trebuchet MS';
}

img{
    pointer-events: none;
}

.warning, .warning-ins{
    color:red;
    font-weight: bold;
    margin:0;
}


/*HEADER CSS*/


.header{
    width:98%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--lighter-green);
    padding-left:1%;
    padding-right:1%;
    position:sticky;
    top:0;
    z-index:999;
}

#header-link{
    cursor:pointer;
    color:black;
    text-decoration: none;
}



.navbar{
    display:flex;
    align-items: center;
    gap:20px;
}

.navbar a{
    text-decoration:none;
    text-align:center;
    color: var(--dark-green);
}

.navbar a:hover{
    color:var(--light-green);
    transition: 0.5s;
}

#nav-unique{
    padding:10px 20px;
    background:var(--dark-green);
    color:white;
    border-radius:5px;
}

#nav-unique:hover{
    transition:0.7s;
    background: var(--light-green);
}

.web-logo{
    width:80px;
    height:80px;
}

.website-logo{
    display:flex;
    align-items: center;
    justify-content: center;
}

#logged-in-user{
    border:none;
    color:var(--dark-green);
    width:48px;
    height:48px;
    background:none;
    cursor:pointer;
}

#logged-in-user:hover{
    color:var(--light-green);
    transition:0.7s;
}

/*FOOTER CSS*/


.footer{
    height:100px;
    width:100%;
    background:var(--lighter-green);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.footer p{
    color:var(--dark-green);
}


/*USER LOGIN BUTTON CSS*/


#profile-dropdown{
    display:none;
    width:10%;
    height:125px;
    top:0;
    right:25px;
    position:absolute;
    background:var(--lighter-green);
    border-radius: 0px 0px 5px 5px;
    overflow:hidden;
}

@keyframes slideDown {
    0% {
        top: 0px;
    }
    100% {
        top: 80px;
    }
}

@keyframes slideUp {
    0% {
        top: 80px;
    }
    100% {
        top: 0px;
    }
}

form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    height:100%;
    width:100%;
}

.profile-nav{
    cursor:pointer;
    border:none;
    background:none;
    color: var(--dark-green);
    font-weight: bold;
    font-size: 18px;
    width:100%;
    text-align:right;
}

.profile-nav:hover{
    transition:0.7s;
    color: var(--light-green);
}

.log-out{
    color: var(--red);
}

.log-out:hover{
    color:var(--light-red);
}