/*DEFAULTS*/


@import url('style_general.css');

.container{
    height:500px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main-container{
    width:100%;
    height:200px;
    background-image: url("../img/home/background.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position:relative;
    z-index:0;
}

.text-title{
    font-size: 50px;
    color:var(--dark-green);
    text-align:left;
    margin-bottom:0;
    margin-top: 0;
    text-align:center;
    font-weight: bold;
}

.text-sub{
    font-weight: bold;
    font-size: 20px;
    color:var(--dark-green);
    margin-top:0;
    text-align:left;
    text-align:center;
}

.line {
    height: 3px;
    background-color: #65A30D;
    border: none;
    width: 80%;
}

/*MEDICAL SERVICES*/
.grid-container {
    margin-top: 0;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px;
}

.grid-item {
    background-color: #064E3B;
    border: 1px solid #65A30D;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 250px;
    width: 200px;
    cursor: pointer;
}

.grid-item:hover {
    background-color: #176c55; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-container img {
    max-width: 100%;
    height: 180px;
    width: 400px; 
    border-radius: 5px;
}

.description-container {
    margin-top: 10px;
    color: white; 
    text-align: center; 
}

.floating-ui {
    position: absolute;
    background-color: #E2EBE7;
    border: 1px solid #65A30D;
    text-align: center;
    height: 40%;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    display: none;
    z-index: 800;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.space {
    background-color: #E2EBE7;
}
.set {
    background-color: #064E3B;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    border: none;
}
.set:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color:#176c55;
}

.set:active {
    background-color: #064E3B;
    transform: translateY(1px);
}

.item-image.one{
    background-image: url("../img/services/check-ups.png");
}

.item-image.two{
    background-image: url("../img/services/vaccination.png");   
}

.item-image.three{
    background-image: url("../img/services/surgery.png");
}

.item-image.four{
    background-image: url("../img/services/emergency-care.png");
}

.item-image.five{
    background-image: url("../img/services/neurologist.png");
}

.item-image.six{
    background-image: url("../img/services/pharmacy.png");
}

.item-image.seven{
    background-image: url("../img/services/grooming.png");
}

.item-image.eight{
    background-image: url("../img/services/bathing.png");
}

.item-image.nine{
    background-image: url("../img/services/pet-training.png");
}

.container-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}

.item-desc{
    font-weight: 400;
    font-size: 20px;
    text-align:center;
}