/*DEFAULTS*/


@import url('style_general.css');


button:hover{
    background:none;
    border:none;
    box-shadow: none;
}

.registration-screen{
    flex-direction: column;
}

.doc-reg-form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:90%;
}

label{
    color:var(--dark-green);
    font-weight: bold;
    text-align:left;
}

.input-text{
    padding:10px;
    width:90%;
    border: 1px solid var(--light-green);
    color:var(--dark-green);
    font-weight: bold;
}

.input-text.mi{
    width:40%;
}

.input-text.select{
    height:37px;
    width:60%;
}

.input-text:focus{
    outline: 2px solid var(--dark-green);
}

span{
    display:flex;
    align-items: center;
}

span .warning{
    margin:0;
}

.input-container{
    width:100%;
}

.input-container.row{
    display:flex;
    align-items: center;
    justify-content: center;
}

.btnShowPass{
    background:none;
    border:none;
    font-weight: bold;
    color:var(--light-green);
    cursor:pointer;
    padding-top:15px;
    width:10%;
    transition:0.7s;
}

.btnShowPass:hover{
    color:var(--dark-green);
}

.add-doc-btn{
    background-color: var(--dark-green);
    color: white;
    border-style: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor:pointer;
    font-weight: bold;
    transition:0.7s;
}

.add-doc-btn:hover{
    background-color: var(--light-green);
}

.add-doc-btn.cancel{
    background-color:var(--red);
}

.add-doc-btn.cancel:hover{
    background-color:var(--light-red);
}